/.idea/
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/app/cache/
/app/logs
/app/cache/*
/app/logs/*
/vendor/
/public_html/bundles/
/public_html/assets/vendor/
/public_html/uploads/profile-pictures/
/app/uploads/note-files/
fv/
/.idea/*
.idea/copyright/
.idea/encodings.xml
.idea/margaret2.iml
.idea/margaret2.time
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/
app/console
public_html/media
phpunit.phar
robo.phar
dump.sql
composer.lock